# Ignore SVN, if people are using the SVN Github interface (danger!)
/\B.svn\b

# Ignore core files
/core*

# Ignore patch-related stuff
*.rej
*.orig
*.patch
*.diff
*.gcov
*.gcda
*.gcno

# Ignore profiling files
callgrind.out.*
cachegrind.out.*

# ports/ should not go into release tarballs
*.obj
*.rc
*.res
/ports
/*.core
/*.def
/*.exe
/*.exp
/*.ilk
/*.lib
/*.manifest
/*.ncb
/*.o
/*.obj
/*.patch
/*.pdb
/*.sln
/*.sto
/*.suo
/*.tmp
# vim swap files
/\.*sw?
/*/*.sw?
/*/*/*.sw?
/*/*/*/*.sw?
/*.vcproj*
/.git
/CFLAGS
/Makefile
/Makefile.old
/TAGS
/blib
/config_lib.pir
/cover_db
/MYMETA.json
/MYMETA.yml
/Util.bs
/Util.c
/pm_to_blib
# Local variables:
#   mode: text
#   buffer-read-only: t
# End:
